.container{
width: 1200px;
padding: 0 15px;
margin: 0 auto;
}
body{
    font-family: Roboto;
    font-size: 14px;
}
:root{
    --main-color-text: #212121;
    --second-color-text: #757575;
    --accent-color:#2196F3;
    --header-logo-color:#000000;
    --main-white-color:#FFFFFF;
    --adres-contact-link:#FFFFFF99;
    --team-bgcolor:#F5F4FA;
    --footer-bgcolor:#2F303A;


}
.logo{
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.header-logo{
    color: var(--header-logo-color);
}
.nav-list-link{
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--main-color-text);
}
.contacts-list-link{
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--second-color-text);
display: flex;
align-items: center;
gap: 10px;


}
.contacts-list-link:hover,.nav-list-link:hover{
    color: var(--accent-color);
}
.section-hero-title{
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: var(--main-white-color);
max-width: 696px;
margin: 0 auto;
}
.section-hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../images/Img\ \(12\).png")}
.section-features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-work{
    padding-bottom: 94px;
}
.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-bgcolor);
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bgcolor);
}
.section-hero-btn{
    width: 216px;
height: 50px;
border-radius: 4px;
background-color:var(--accent-color);
font-size: 16px;
font-weight: 700;
line-height: 1.8;
letter-spacing: 0.06em;
text-align: center;
color: var(--main-white-color);
display: block;
margin: auto;
margin-top: 30px;
}
.header-content-wrap{
    display: flex;
    gap: 93px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.contacts-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.nav-list-item{
    padding-top: 32px;
    padding-bottom: 32px;
}
.features-list{
    display: flex;
    gap: 30px;
}
.features-list-desc{
    color: var(--second-color-text);
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
}
.features-list-title{
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.work-list{
    display: flex;
    gap: 30px;
}
.section-work-title{
 
    margin-bottom: 50px;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.team-list{
    display: flex;
    gap: 30px;
}
.section-team-title{
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
}
.team-list-kontent-wrap{
   margin-top: 30px;
   margin-bottom: 30px;
}
.team-list-title{
    margin-bottom: 10px;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;

}
.team-list-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--second-color-text);
}
.team-list-item{
    background-color: var(--main-white-color);
}
.footer-logo{
 color: var(--main-white-color);
}
.footer-list-link{
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--adres-contact-link);
}
.address{
    margin-top: 20px;
}
.location-link{
    color: var(--main-white-color);
}
.portfolio-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters-list-btn{
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
text-align: center;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
}
.portfolio-list-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    
}
.portfolio-list-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    
}
.filters-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.filters-list-btn:hover{
    background-color:var(--accent-color);
    color: var(--main-white-color);
}
.antena::before{
    background-image: url("../antena.png");
    content: "";
    width:270px;
    height: 120px;
    display: inline-block;
}
.clock::before{
    background-image: url("../clock.png");
    content: "";
    width:270px;
    height: 120px;
    display: inline-block;
}
.desk::before{
    background-image: url("../desk.png");
    content: "";
    width:270px;
    height: 120px;
    display: inline-block;
}
.astro::before{
    background-image: url("../astro.png");
    content: "";
    width:270px;
    height: 120px;
    display: inline-block;
}
.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 28px;
}
.social-list-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:rgba(175, 177, 184, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-list-icon{
    fill: currentColor;
}
.social-list-link:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
.footer-social-list{
    display: flex;
    gap: 10px;
}
.contacts-list-icon{
    fill:currentColor;
}
.footer-content-wrap{
    display: flex;
    gap: 70px;
}
.footer-social-title{
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 1);
margin-bottom: 20px;
text-transform: uppercase;
}

.foter-list-link:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
.foter-list-link{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:rgba(255, 255, 255, 1);
   background-color: rgba(255, 255, 255, 0.1);
}
.foter-list-icon{
    fill: currentColor;
}
.clients-title{
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
}
.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list-item{
    width: calc((100% - 150px)/ 6);
}
.clients-list-link{
    height: 92px;
    border:1px solid rgba(175, 177, 184, 1);
    border-radius:4px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(175, 177, 184, 1);
}
.clients-list-icon{
    fill: currentColor;
}
.clients-list-link:hover{
    color: #2196F3;
    border-color: rgba(33, 150, 243, 1);
}
 .portfolio-list-item{
    outline:1px solid rgba(238, 238, 238, 1);
 }
 .portfolio-list-wrap{
    padding-top:20px ;
    padding-bottom:20px ;
    padding-left: 24px;
    padding-right: 24px;
 }